body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 38px;
    padding-left: 5px;
}

.vertical {
    border-left: 3px solid rgb(233, 85, 85);
    border-radius: 3px;
}

h2 {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -20px;
}

h3 {
    font-size: 20px;
    color: white
}


p {
    font-size: 18px;
    color: grey;
}

span {
    color: orange;
}

.flexible-container {
    display: flex;
}

.flexible {
    display: flex;
}

.three-part {
    width: 30%;
    margin-left: 5%;
    padding: 2%;
}

.light-blue {
    background-color: lightblue;
    border-radius: 15px;
}

.light-pink {
    background-color: lightpink;
    border-radius: 15px;
}

.light-orange {
    background-color: rgb(243, 213, 173);
    border-radius: 15px;
}

.half-width {
    width: 40%;
    margin-top: 15px;
    padding: 5%;
}

a {
    text-decoration: none;
    color: white;
    border-radius: 4px;
    background-color: rgb(233, 85, 85);
    padding: 6px 15px;
}

#red {
    color: rgb(233, 85, 85);
}

#small {
    font-size: 12px;
}

footer {
    text-align: center;
    border: 1px solid black;
    background-color: black;
}

.first-banner {
    background-image: url(images/shape-1\ \(1\).png);
    background-repeat: no-repeat;
    background-position: left 50%;
}

.second-banner {
    background-image: url(images/shape-2\ \(2\).png);
    background-repeat: no-repeat;
    background-position: 80% 80%;
}
.watch{
    
}